[submodule "android/app/src/main/jni/moonlight-core/moonlight-common-c"]
	path = android/app/src/main/jni/moonlight-core/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
