[Desktop Entry]
Type=Application
Name=ArtMoon
GenericName=Game Stream Client
Comment=Stream games and other applications from another PC running Sunshine, Apollo or GeForce Experience
Exec=artmoon
Icon=artmoon
Terminal=false
Categories=Qt;Game;Network;RemoteAccess;
Keywords=moonlight;gamestream;stream;sunshine;apollo;remote play;
StartupWMClass=ArtMoon
